:root {
  --primary-color: #e60e61;
  --secondary-color: #e60ecd;
  --third-color: #e6270e;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.music-player {
  padding: 10px;
  display: flex;
  align-items: center;
}
.player {
  position: relative;
  width: 300px;
  height: 500px;
  box-shadow: 0 2px 20px var(--third-color);
}
.file-list {
  min-width: 150px;
  max-width: 250px;
  height: 450px;
  margin-left: 10px;
  overflow-y: scroll;
}
.file-list::-webkit-scrollbar {
  cursor: pointer !important;
  width: 5px;
  height: 5px;
}
.file-list::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: cyan;
}
.file-list :last-child {
  border: none;
}
.file-list p {
  width: fit-content;
  display: block;
  max-height: 30px;
  white-space: nowrap;
  padding: 5px;
  margin: 10px 0;
  border-bottom: 1px solid var(--primary-color);
  font-size: large;
}
.player h1 {
  color: var(--primary-color);
  text-align: center;
  padding: 10px;
}
.player .display-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.display-input input {
  width: 100px;
  height: 40px;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
}
.display-input input::-webkit-file-upload-button {
  cursor: pointer;
}
.display-input label {
  position: absolute;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    15deg,
    var(--primary-color),
    var(--third-color),
    var(--primary-color)
  );
  color: #fff;
}
.player .title {
  padding: 5px;
  width: 100%;
  height: 30px;
  margin-top: 15px;
  color: var(--secondary-color);
  font-weight: 800;
  font-size: larger;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.player .middle {
  position: relative;
  width: 100%;
}
.player .middle .volume {
  position: absolute;
  top: 50%;
  left: -50px;
  transform-origin: center;
  transform: rotate(-90deg);
  -webkit-appearance: none;
  background: var(--secondary-color);
  height: 10px;
  border-radius: 20px;
  outline: none;
}
.player .middle .volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 10px;
  border-radius: 5px;
  background: var(--third-color);
}
.middle .disc::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 40%;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #fff;
}
.player .middle .disc {
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: var(--third-color);
  margin: auto;
  transform-origin: center;
}
.disc-animate {
  animation: roll 10s infinite linear;
}
@keyframes roll {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}
.player .options {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.player .options .main {
  width: 80%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.player .options .main * {
  cursor: pointer;
  color: var(--secondary-color);
}
.player .options .repeat,
.player .options .shuffle {
  cursor: pointer;
  height: 30px;
  width: 30px;
  background-size: cover;
}
.player .options .repeat-all {
  background-image: url("./repeat-all.svg");
}
.player .options .repeat-one {
  background-image: url("./repeat-one.svg");
}
.player .options .repeat-none {
  background-image: url("./repeat-none.svg");
}
.player .options .shuffle {
  background-image: url("./shuffle.svg");
}
.options .main :nth-child(2) {
  color: var(--primary-color) !important;
}
.player .progress {
  -webkit-appearance: none;
  outline: none;
  height: 8px;
  width: 200px;
  margin: auto;
  display: block;
  background: var(--secondary-color);
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}
.player .progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  background: cyan;
  box-shadow: -200px 0 0 200px var(--third-color);
}
.player .error::before {
  content: "Error:";
  margin: 0 5px;
  color: var(--primary-color);
  text-decoration: underline;
}
.player .error {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-weight: bolder;
  color: var(--third-color);
  opacity: 0;
  transition: 0.5s;
}
@media (max-width: 650px) {
  .music-player {
    flex-direction: column;
  }
}
